html,
body {
    height: 100%;
    background: #fff url("../img/umeme2.png") no-repeat;
    background-size: 100%;
    position: static;

    color: #000;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

div.container div.navbar-header{
    background-color: #241e20;
}
.btn-success{
    background-color: #9EBF3C;
    border-color: #9EBF3C;
}
a{
    color: #9EBF3C;
}
a.hover, a.focus{
    color: #9EBF3C !important;
}
.navbar-inverse .navbar-nav > li > a:hover, a.navbar-brand:hover {
    color: #9EBF3C;
}
span.badge{
    background-color: #9EBF3C;
}
div.topic-view div.panel-group div.panel div.panel-heading, .nav li:hover a{
    color: #9EBF3C;
    background-color: #e2f4af;
    border-color: #9EBF3C;
}
.user-menu{
    border-right: 1px solid #c9c9c9
}
li.active a{
    font-weight: bold;
}

div.panel-collapse.in div.panel-body, div.redactor-editor, .nav-sidebar li{
    background: rgba(255, 255, 255, 0.7);
}
h4, h3,div.site-login, th, footer, div.user-category, div.user-category div.panel-body div h4, div.topic-view, ul.dropdown-menu li a{
    color: #515151;
}
nav {
    opacity: 0.8;
}
.breadcrumb{
    background-color: rgba(245, 245, 245, 0.8);
}
div.sidebar ul li a{
    text-shadow: 0 2px 4px rgba(251, 251, 251, 0.60);
}


